<script src="https://unpkg.com/htmx.org@1.9.10"></script>

<h2>GET SAMPLE</h2>
<button hx-get="https://jsonplaceholder.typicode.com/posts/1">Click</button>

<h2>POST SAMPLE</h2>
<button hx-post="https://jsonplaceholder.typicode.com/posts">Click</button>

<h2>PUT SAMPLE</h2>
<button hx-put="https://jsonplaceholder.typicode.com/posts/1">Click</button>

<h2>PATCH SAMPLE</h2>
<button hx-patch="https://jsonplaceholder.typicode.com/posts/1">Click</button>

<h2>DELETE SAMPLE</h2>
<button hx-delete="https://jsonplaceholder.typicode.com/posts/1">Click</button>