<th:block th:if="${#lists.isEmpty(users)}">
  <h2 class="mb-4 text-center text-2xl font-bold text-white md:mb-6 lg:text-3xl">User not found</h2>
</th:block>
<th:block th:unless="${#lists.isEmpty(users)}">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Password</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="user : ${users}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td th:text="${user.email}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"></td>
        <td  th:text="${user.password}" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"></td>
        <td class="px-6 py-4 text-right">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</th:block>
