<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.nlaboratory.mybatis.sample.infrastructure.mapper.UserMapper">
  <select id="findById" resultType="jp.nlaboratory.mybatis.sample.domain.entity.User">
    select * from user where id = #{id}
  </select>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into user (name, email, created_at, updated_at, del_flg)
    values (#{name}, #{email}, #{createdAt}, null, 0)
  </insert>
  <update id="update" keyProperty="id">
    update user set
    name = #{name},
    email = #{email},
    updated_at = #{updatedAt},
    del_flg = #{delFlg}
    where id = #{id}
  </update>
  <delete id="delete">
    delete from user where id = #{id}
  </delete>
</mapper>